<template>
    <div class="flex items-start space-x-7 mb-7">
        <div class="w-1/3">
            <h1 class="mb-4">Información del artículo</h1>
            <p class="text-sm">Detalles generales del articulo, los campos marcados con (<span class="text-red-500">*</span>) son requeridos.</p>
        </div>
        <div class="w-2/3">
            <div class="card">
                <form @submit.prevent="submitForm">

                    <div v-if="articleinfo" class="alert-success">
                        {{ articleinfo }}
                    </div>

                    <div class="form-group">
                        <label for="" required>Fecha:</label>
                        <input type="date" class="form-control" v-model="form.date">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.articleForm" v-text="errors.articleForm.date"></p>
                    </div>

                    <div class="form-group">
                        <label for="" required>Título:</label>
                        <input type="text" class="form-control" v-model="form.title">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.articleForm" v-text="errors.articleForm.title"></p>
                    </div>

                    <div class="form-group">
                        <label for="" required>Descripción:</label>
                        <input type="text" class="form-control" v-model="form.description">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.articleForm" v-text="errors.articleForm.description"></p>
                    </div>

                    <div class="form-group">
                        <label for="" required>Contenido:</label>
                        <ckeditor :editor="editor" v-model="form.body" :config="editorConfig" height="300"></ckeditor>
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.articleForm" v-text="errors.articleForm.body"></p>
                    </div>

                    <div class="mt-10">
                        <button type="submit" class="py-2 px-3 bg-gray-800 text-white text-sm rounded hover:bg-opacity-75">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        name: 'ArticleInfoForm',
        props: {
            date: {
                default: ''
            },
            article: {},
            errors: {},
            method: {
                type: String,
                default: 'POST'
            }
        },
        components: {
            ckeditor: CKEditor.component,
        },
        computed: {
            articleinfo(){
                return this.$page.props.flash.articleinfo;
            }
        },
        data(){
            return {
                editor: ClassicEditor,
                editorData: this.article.body ? this.article.body : '',
                form: this.$inertia.form({
                    date: this.article.date ? this.article.date : this.date,
                    title: this.article ? this.article.title : '',
                    description: this.article ? this.article.description : '',
                    body: this.article ? this.article.body : '',
                }),
                editorConfig: [],
            }
        },
        methods: {
            submitForm(){
                const t = this;
                if(t.method == 'POST'){
                    t.$inertia.post(route('articles.store'), t.form, {
                        errorBag: 'articleForm',
                        preserveScroll: true
                    });
                }
                if(t.method == 'PUT'){
                    t.$inertia.patch(route('articles.update', t.article.id), t.form, {
                        errorBag: 'articleForm',
                        preserveScroll: true
                    });
                }
            },
        }
    }
</script>