<template>
    <div class="flex items-start space-x-7 mb-7">
        <div class="w-1/3">
            <h1 class="mb-4">Portada del artículo</h1>
            <p class="text-sm">La imagen de portada debe ser de 820px x 550px de tipo (JPG ó PNG)</p>
        </div>
        <div class="w-2/3">
            <div class="card">
                <div v-if="articlecover" class="alert-success">
                    {{ articlecover }}
                </div>
                <div class="flex items-center space-x-7">
                    <div class="w-2/3">
                        <form action="" @submit.prevent="submitCover">    
                            <label for="">Elige una imagen de portada.</label>
                            <div>
                                <input type="file" @input="formCover.cover = $event.target.files[0]">
                                <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.coverForm" v-text="errors.coverForm.cover"></p>
                            </div>
                            <div class="mt-10">
                                <button type="submit" class="py-2 px-3 bg-gray-800 text-white text-sm rounded hover:bg-opacity-75">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <div class="w-1/3">
                        <img :src="article.cover" class="w-full h-auto rounded shadow" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ArticleCoverForm',
        props: {
            article: {},
            errors: {},
        },
        computed: {
            articlecover(){
                return this.$page.props.flash.articlecover;
            },
        },
        data(){
            return {
                formCover: this.$inertia.form({
                    cover: null,
                })
            }
        },
        methods: {
            submitCover(){
                const t = this;
                t.$inertia.post(route('articles.cover', t.article.id), t.formCover, {
                    errorBag: 'coverForm',
                    preserveScroll: true
                });
            },
        }
    }
</script>