<template>
    <div class="flex items-center justify-end space-x-7">
        <div class="w-1/3"></div>
        <div class="w-2/3">
            <div class="card">
                <form action="" @submit.prevent="deleteArticle">
                    <label for="">
                        Al eliminar un artículo se perderá permanentemente.
                    </label>
                    <div class="mt-7">
                        <button type="submit" class="py-2 px-3 bg-red-600 text-white text-sm rounded hover:bg-opacity-75">Eliminar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ArticleDeleteForm',
        props: ['article'],
        data(){
            return {

            }
        },
        methods: {
            deleteArticle(){
                const t = this;
                const confirm = window.confirm('¿Estás seguro que deseas eliminar este artículo?');
                if(confirm){
                    t.$inertia.delete(route('articles.destroy', t.article.id));
                }
            }
        }
    }
</script>