<template>
    <div class="flex items-start justify-end space-x-7 mb-7">
        <div class="w-1/3"></div>
        <div class="w-2/3">
            <div class="card">

                <div v-if="status" class="alert-success">
                    {{ status }}
                </div>

                <label class="flex items-center space-x-2" style="margin-bottom: 0">
                    <input @change="toggleVisibility" type="checkbox" v-model="form.visibility">
                    <span>Hacer público este artículo.</span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'CheckboxPublicArticle',
        props: ['article'],
        computed: {
            status(){
                return this.$page.props.flash.visibilityStatus;
            }
        },
        data(){
            return {
                form: this.$inertia.form({
                    visibility: parseInt(this.article.visibility) ? true : false
                })
            }
        },
        methods: {
            toggleVisibility(){
                const t = this;
                t.$inertia.put(route('articles.toggle-visibility', t.article.id), t.form);
            }
        }
    }
</script>