<template>
    <header class="bg-white py-6 px-7 shadow-md relative z-10 flex items-center">
        <div>
            <h1 class="text-xl font-bold text-gray-800" v-text="title"></h1>
        </div>
        <div class="ml-auto">
            <Link :href="route('logout')" method="post" as="button" class="font-bold text-sm">
                Cerrar sesión
            </Link>            
        </div>
    </header>  
</template>

<script>

    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        name: 'AdminHeader',
        props: ['title'],
        components: {Link},
        data(){
            return {

            }
        }
    }
</script>