<template>
    <div class="flex items-center space-x-7">
        <div class="card flex-1">
            <h1 class="text-gray-800 text-4xl" v-text="indicators.projects"></h1>
            <p class="text-gray-500">Total de proyectos</p>
        </div>

        <div class="card flex-1">
            <h1 class="text-gray-800 text-4xl" v-text="indicators.articles"></h1>
            <p class="text-gray-500">Total de artículos</p>
        </div>

        <div class="card flex-1">
            <h1 class="text-gray-800 text-4xl" v-text="indicators.suscriptors"></h1>
            <p class="text-gray-500">Total de suscriptores</p>
        </div>

        <div class="card flex-1">
            <h1 class="text-gray-800 text-4xl" v-text="indicators.messages"></h1>
            <p class="text-gray-500">Total de mensajes</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AdminIndicators',
        props: ['indicators'],
        data(){
            return{

            }
        }
    }
</script>