<template>
    <nav class="text-base text-white flex flex-col space-y-5">
        <Link class="hover:underline hover:text-lime-500" :href="route('dashboard')">Escritorio</Link>
        <Link class="hover:underline hover:text-lime-500" :href="route('projects.index')">Proyectos</Link>
        <Link class="hover:underline hover:text-lime-500" :href="route('articles.index')">Artículos</Link>
        <Link class="hover:underline hover:text-lime-500" :href="route('subscriptors.index')">Suscriptores</Link>
        <!-- <Link class="hover:underline hover:text-lime-500" :href="route('dashboard')">Mensajes</Link> -->
        <Link class="hover:underline hover:text-lime-500" :href="route('configuration')">Configuración</Link>
    </nav>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3';
    export default {
        name: 'AdminMenu',
        components: {Link},
        data(){
            return {

            }
        }
    }
</script>