<template>
    <div class="flex items-start space-x-7 mb-7">
        <div class="w-1/3">
            <h1 class="mb-4">Información personal</h1>
            <p class="text-sm">Edita tu nombre y contraseña, los campos marcados con (<span class="text-red-500">*</span>) son requeridos.</p>
        </div>
        <div class="w-2/3">
            <div class="card">
                <form @submit.prevent="submitForm">

                    <div v-if="personalinfo" class="alert-success">
                        {{ personalinfo }}
                    </div>

                    <div class="form-group">
                        <label for="" required>Nombre completo:</label>
                        <input type="text" class="form-control" v-model="form.name">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.personalForm" v-text="errors.personalForm.name"></p>
                    </div>

                    <div class="form-group">
                        <label for="" required>E-mail:</label>
                        <input type="email" class="form-control" v-model="form.email">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.personalForm" v-text="errors.personalForm.email"></p>
                    </div>

                    <div class="form-group">
                        <label for="" required>Contraseña:</label>
                        <input type="password" class="form-control" v-model="form.password">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.personalForm" v-text="errors.personalForm.password"></p>
                    </div>

                    <div class="mt-10">
                        <button type="submit" class="py-2 px-3 bg-gray-800 text-white text-sm rounded hover:bg-opacity-75">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PersonalInfoForm',
        props: ['errors', 'user'],
        computed: {
            personalinfo(){
                return this.$page.props.flash.personalinfo;
            }
        },
        data(){
            return {
                form: this.$inertia.form({
                    name: this.user ? this.user.name : '',
                    email: this.user ? this.user.email : '',
                    password: ''
                })
            }
        },
        methods: {
            submitForm(){
                const t = this;
                t.$inertia.post(route('save-configuration'), t.form, {
                    onSuccess: () => {
                        t.form.reset();
                    }
                });
            }   
        }
    }
</script>