<template>
    <div class="flex items-start space-x-7 mb-7">
        <div class="w-1/3">
            <h1 class="mb-4">Información del proyecto</h1>
            <p class="text-sm">Detalles generales del proyecto, los campos marcados con (<span class="text-red-500">*</span>) son requeridos.</p>
        </div>
        <div class="w-2/3">
            <div class="card">
                <form @submit.prevent="submitForm">

                    <div v-if="projectinfo" class="alert-success">
                        {{ projectinfo }}
                    </div>

                    <div class="form-group">
                        <label for="" required>Título:</label>
                        <input type="text" class="form-control" v-model="form.title">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.projectForm" v-text="errors.projectForm.title"></p>
                    </div>

                    <div class="form-group">
                        <label for="" required>Descripción:</label>
                        <textarea class="form-control" v-model="form.description"></textarea>
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.projectForm" v-text="errors.projectForm.description"></p>
                    </div>

                    <div class="form-group">
                        <label for="">Enlace:</label>
                        <input type="text" class="form-control" v-model="form.link">
                        <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.projectForm" v-text="errors.projectForm.link"></p>
                    </div>

                    <div class="mt-10">
                        <button type="submit" class="py-2 px-3 bg-gray-800 text-white text-sm rounded hover:bg-opacity-75">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'ProjectInfoForm',
        props: {
            project: {},
            errors: {},
            method: {
                type: String,
                default: 'POST'
            }
        },
        computed: {
            projectinfo(){
                return this.$page.props.flash.projectinfo;
            }
        },
        data(){
            return {
                form: this.$inertia.form({
                    title: this.project ? this.project.title : '',
                    description: this.project ? this.project.description : '',
                    link: this.project ? this.project.link : ''
                })
            }
        },
        methods: {
            submitForm(){
                const t = this;
                if(t.method == 'POST'){
                    t.$inertia.post(route('projects.store'), t.form, {
                        errorBag: 'projectForm',
                        preserveScroll: true
                    });
                }
                if(t.method == 'PUT'){
                    t.$inertia.patch(route('projects.update', t.project.id), t.form, {
                        errorBag: 'projectForm',
                        preserveScroll: true
                    });
                }
            },
        }
    }
</script>