<template>
    <div class="flex items-start space-x-7 mb-7">
        <div class="w-1/3">
            <h1 class="mb-4">Portada del proyecto</h1>
            <p class="text-sm">La imagen de portada debe ser de 1100px x 600px de tipo (JPG ó PNG)</p>
        </div>
        <div class="w-2/3">
            <div class="card">
                <div v-if="projectcover" class="alert-success">
                    {{ projectcover }}
                </div>
                <div class="flex items-center space-x-7">
                    <div class="w-2/3">
                        <form action="" @submit.prevent="submitCover">    
                            <label for="">Elige una imagen de portada.</label>
                            <div>
                                <input type="file" @input="formCover.cover = $event.target.files[0]">
                                <p class="mt-4 font-bold text-sm text-red-500" v-if="errors.coverForm" v-text="errors.coverForm.cover"></p>
                            </div>
                            <div class="mt-10">
                                <button type="submit" class="py-2 px-3 bg-gray-800 text-white text-sm rounded hover:bg-opacity-75">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <div class="w-1/3">
                        <img :src="project.cover" class="w-full h-auto rounded shadow" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ProjectCoverForm',
        props: {
            project: {},
            errors: {},
        },
        computed: {
            projectcover(){
                return this.$page.props.flash.projectcover;
            },
        },
        data(){
            return {
                formCover: this.$inertia.form({
                    cover: null,
                })
            }
        },
        methods: {
            submitCover(){
                const t = this;
                t.$inertia.post(route('projects.cover', t.project.id), t.formCover, {
                    errorBag: 'coverForm',
                    preserveScroll: true
                });
            },
        }
    }
</script>