<template>
    <div class="card flex-1">
        <h3 class="text-xl font-bold text-gray-800 mb-7">Mensajes recientes</h3>
        
        <div v-if="messages.length">
            <div class="flex flex-col" v-for="message in messages" v-bind:key="message.id">
                <div class="border-b py-4 border-gray-300 flex items-center">
                    <div>
                        <h1><span v-text="message.full_name"></span> ha escrito....</h1>
                        <p class="text-sm"><b>Tipo de servicio:</b> <span v-text="message.type"></span></p>
                        <p class="text-sm"><b>Tiempo:</b> <span v-text="message.time"></span></p>
                        <p class="text-sm" v-text="message.description"></p>
                        <p class="text-xs font-bold" v-text="message.date"></p>
                    </div>
                    <div class="ml-auto flex items-center space-x-2">
                        <a href="#" class="py-2 px-3 text-sm text-white bg-gray-800 rounded hover:bg-opacity-75">
                            Responder
                        </a>
                        <a href="#" class="py-2 px-3 text-sm text-white bg-red-500 rounded hover:bg-opacity-75">
                            Eliminar
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <p v-else class="mt-7 text-gray-400">No tienes mensajes aún.</p>
    </div>
</template>

<script>
    export default {
        name: 'AdminRecentMessages',
        props: ['messages'],
        data(){
            return {

            }
        }
    }
</script>