<template>
    <aside class="h-full w-full bg-gray-800 p-6 relative z-20 shadow-lg flex flex-col">
        <h1 class="text-xl font-bold text-white">Jonathan Velazquez</h1>
        <Menu class="mt-16" />
        <div class="mt-auto flex justify-start">
            <Link class="text-white text-center text-sm" :href="route('home')">Regresar al sitio web</Link>
        </div>
    </aside>
</template>

<script>

    import Menu from '@/Components/Admin/Menu';
    import { Link } from '@inertiajs/inertia-vue3'

    export default {
        name: 'AdminSidebar',
        components: {Menu, Link},
        data(){
            return {

            }
        }
    }
</script>