<template>
    <Admin-Layout title="Nuevo artículo">
        <Info-Form :article="article" :errors="errors" method="POST" :date="date" />
    </Admin-Layout>
</template>

<script>
    import AdminLayout from '@/Layouts/Admin';
    import InfoForm from '@/Components/Admin/ArticleInfoForm';

    export default {
        name: 'CreateArticle',
        components: {AdminLayout, InfoForm},
        props: {
            date: {
                default: ''
            },
            errors: {},
            article: {
                type: Object,
                default: {
                    date: '',
                    title: '',
                    description: '',
                    body: ''
                }
            }
        },
        data(){
            return {

            }
        }
    }
</script>