<template>
    <Admin-Layout title="Editar artículo">
        <Public-Article :article="article" />
        <Cover-Form :article="article" :errors="errors" />
        <Info-Form :article="article" :errors="errors" method="PUT" />
        <Delete-Form :article="article"  />
    </Admin-Layout>
</template>

<script>

    import AdminLayout from '@/Layouts/Admin';
    import PublicArticle from '@/Components/Admin/CheckboxPublicArticle';
    import CoverForm from '@/Components/Admin/ArticleCoverForm';
    import InfoForm from '@/Components/Admin/ArticleInfoForm';
    import DeleteForm from '@/Components/Admin/ArticleDeleteForm';

    export default {
        name: 'EditArticle',
        components: {
            PublicArticle,
            CoverForm,
            AdminLayout,
            InfoForm,
            DeleteForm
        },
        props: {
            article: {},
            errors: {}
        },
        data(){
            return {
            }
        }
    }
    
</script>