<template>
    <Admin-Layout title="Artículos">

        <Link :href="route('articles.create')" class="py-2 px-3 text-sm text-white bg-gray-800 rounded hover:bg-opacity-75">
            Nuevo artículo
        </Link>

        <div class="card mt-6">
            <div v-if="articles.length" v-for="article in articles" class="py-4 border-b border-gray-300 flex items-start space-x-7">
                <div class="w-2/12">
                    <img :src="article.cover" class="w-full h-auto rounded shadow" alt="">
                </div>
                <div>
                    <h1 v-text="article.title" class="text-xl mb-2"></h1>
                    <p v-text="article.description" class="text-gray-600 text-sm mb-4"></p>
                    <Link class="text-sm font-bold text-gray-700 hover:underline" :href="route('articles.edit', article.id)">Editar</Link>
                </div>
            </div>
            <div v-else class="text-gray-500">
                No se han agregado artículos aún.
            </div>
        </div>
    </Admin-Layout>
</template>

<script>

    import AdminLayout from '@/Layouts/Admin';
    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        name: 'ArticlesList',
        props: ['articles'],
        components: {AdminLayout, Link},
        data(){
            return {

            }
        }
    }
</script>