<template>
    <Admin-Layout title="Configuración">
        <Personal-Info-Form :errors="errors" :user="user" />
    </Admin-Layout>
</template>

<script>

    import AdminLayout from '@/Layouts/Admin';
    import PersonalInfoForm from '@/Components/Admin/PersonalInfoForm';

    export default {
        name: 'AdminConfiguration',
        props: {
            errors: {}
        },
        components: {AdminLayout, PersonalInfoForm},
        computed: {
            user(){
                return this.$page.props.auth.user;
            },
        },
        data(){
            return {

            }
        }
    }
</script>