<template>
    <Admin-Layout title="Nuevo proyecto">
        <Info-Form :project="project" :errors="errors" method="POST" />
    </Admin-Layout>
</template>

<script>
    import AdminLayout from '@/Layouts/Admin';
    import InfoForm from '@/Components/Admin/ProjectInfoForm';

    export default {
        name: 'CreateProject',
        components: {AdminLayout, InfoForm},
        props: {
            date: {
                default: ''
            },
            errors: {},
            project: {
                type: Object,
                default: {
                    title: '',
                    description: '',
                    link: ''
                }
            }
        },
        data(){
            return {

            }
        }
    }
</script>