<template>
    <Admin-Layout title="Editar proyecto">
        <Public-Project :project="project" />
        <Cover-Form :project="project" :errors="errors" />
        <Info-Form :project="project" :errors="errors" method="PUT" />
        <Delete-Form :project="project"  />
    </Admin-Layout>
</template>

<script>

    import AdminLayout from '@/Layouts/Admin';
    import CoverForm from '@/Components/Admin/ProjectCoverForm';
    import InfoForm from '@/Components/Admin/ProjectInfoForm';
    import DeleteForm from '@/Components/Admin/ProjectDeleteForm';
    import PublicProject from '@/Components/Admin/CheckboxPublicProject';

    export default {
        name: 'EditProject',
        components: {
            AdminLayout,
            PublicProject,
            InfoForm,
            CoverForm,
            DeleteForm,
        },
        props: {
            project: {},
            errors: {}
        },
        data(){
            return {
            }
        }
    }
    
</script>