<template>
    <Admin-Layout title="Proyectos">
        <Link :href="route('projects.create')" class="py-2 px-3 text-sm text-white bg-gray-800 rounded hover:bg-opacity-75">
            Nuevo proyecto
        </Link>

        <div class="card mt-6">
            <div v-if="projects.length" v-for="project in projects" class="py-4 border-b border-gray-300 flex items-start space-x-7">
                <div class="w-2/12">
                    <img :src="project.cover" class="w-full h-auto rounded shadow" alt="">
                </div>
                <div>
                    <h1 v-text="project.title" class="text-xl mb-2"></h1>
                    <p v-text="project.description" class="text-gray-600 text-sm mb-4"></p>
                    <Link class="text-sm font-bold text-gray-700 hover:underline" :href="route('projects.edit', project.id)">Editar</Link>
                </div>
            </div>
            <div v-else class="text-gray-500">
                No se han agregado proyectos aún.
            </div>
        </div>
    </Admin-Layout>
</template>

<script>
    import AdminLayout from '@/Layouts/Admin';
    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        name: 'ProjectsList',
        props: ['projects'],
        components: {AdminLayout, Link},
        data(){
            return {

            }
        }
    }
</script>