@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap);


/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}::before,
::after {
  --tw-content: '';
}/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}/*
Remove the default font size and weight for headings.
*/h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}/*
Reset links to optimize for opt-in styling instead of opt-out.
*/a {
  color: inherit;
  text-decoration: inherit;
}/*
Add the correct font weight in Edge and Safari.
*/b,
strong {
  font-weight: bolder;
}/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}/*
Add the correct font size in all browsers.
*/small {
  font-size: 80%;
}/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}sub {
  bottom: -0.25em;
}sup {
  top: -0.5em;
}/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}/*
Remove the inheritance of text transform in Edge and Firefox.
*/button,
select {
  text-transform: none;
}/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}/*
Use the modern Firefox focus style for all focusable elements.
*/:-moz-focusring {
  outline: auto;
}/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/:-moz-ui-invalid {
  box-shadow: none;
}/*
Add the correct vertical alignment in Chrome and Firefox.
*/progress {
  vertical-align: baseline;
}/*
Correct the cursor style of increment and decrement buttons in Safari.
*/::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}/*
Remove the inner padding in Chrome and Safari on macOS.
*/::-webkit-search-decoration {
  -webkit-appearance: none;
}/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}/*
Add the correct display in Chrome and Safari.
*/summary {
  display: list-item;
}/*
Removes the default spacing and border for appropriate elements.
*/blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}fieldset {
  margin: 0;
  padding: 0;
}legend {
  padding: 0;
}ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}/*
Prevent resizing textareas horizontally by default.
*/textarea {
  resize: vertical;
}/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}/*
Set the default cursor for buttons.
*/button,
[role="button"] {
  cursor: pointer;
}/*
Make sure disabled buttons don't get the pointer cursor.
*/:disabled {
  cursor: default;
}/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/img,
video {
  max-width: 100%;
  height: auto;
}/*
Ensure the default browser behavior of the `hidden` attribute.
*/[hidden] {
  display: none;
}[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}input::-moz-placeholder, textarea::-moz-placeholder{
  color: #6b7280;
  opacity: 1;
}input:-ms-input-placeholder, textarea:-ms-input-placeholder{
  color: #6b7280;
  opacity: 1;
}input::placeholder,textarea::placeholder{
  color: #6b7280;
  opacity: 1;
}::-webkit-datetime-edit-fields-wrapper{
  padding: 0;
}::-webkit-date-and-time-value{
  min-height: 1.5em;
}::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field{
  padding-top: 0;
  padding-bottom: 0;
}select{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  print-color-adjust: exact;
}[multiple]{
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  print-color-adjust: unset;
}[type='checkbox'],[type='radio']{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}[type='checkbox']{
  border-radius: 0px;
}[type='radio']{
  border-radius: 100%;
}[type='checkbox']:focus,[type='radio']:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}[type='checkbox']:checked,[type='radio']:checked{
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}[type='checkbox']:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}[type='radio']:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus{
  border-color: transparent;
  background-color: currentColor;
}[type='checkbox']:indeterminate{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus{
  border-color: transparent;
  background-color: currentColor;
}[type='file']{
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}[type='file']:focus{
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}.container{
  width: 100%;
}.\!container{
  width: 100% !important;
}@media (min-width: 640px){.container{
    max-width: 640px;
  }.\!container{
    max-width: 640px !important;
  }
}@media (min-width: 768px){.container{
    max-width: 768px;
  }.\!container{
    max-width: 768px !important;
  }
}@media (min-width: 1024px){.container{
    max-width: 1024px;
  }.\!container{
    max-width: 1024px !important;
  }
}@media (min-width: 1280px){.container{
    max-width: 1280px;
  }.\!container{
    max-width: 1280px !important;
  }
}@media (min-width: 1536px){.container{
    max-width: 1536px;
  }.\!container{
    max-width: 1536px !important;
  }
}.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}.visible{
  visibility: visible;
}.fixed{
  position: fixed;
}.absolute{
  position: absolute;
}.relative{
  position: relative;
}.inset-0{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}.top-0{
  top: 0px;
}.right-0{
  right: 0px;
}.left-0{
  left: 0px;
}.z-0{
  z-index: 0;
}.z-40{
  z-index: 40;
}.z-50{
  z-index: 50;
}.z-10{
  z-index: 10;
}.z-20{
  z-index: 20;
}.float-right{
  float: right;
}.m-8{
  margin: 2rem;
}.mx-auto{
  margin-left: auto;
  margin-right: auto;
}.my-3{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}.ml-3{
  margin-left: 0.75rem;
}.-ml-px{
  margin-left: -1px;
}.mb-2{
  margin-bottom: 0.5rem;
}.ml-auto{
  margin-left: auto;
}.mr-auto{
  margin-right: auto;
}.ml-1{
  margin-left: 0.25rem;
}.mt-2{
  margin-top: 0.5rem;
}.mr-2{
  margin-right: 0.5rem;
}.ml-2{
  margin-left: 0.5rem;
}.mt-4{
  margin-top: 1rem;
}.ml-4{
  margin-left: 1rem;
}.mt-8{
  margin-top: 2rem;
}.ml-12{
  margin-left: 3rem;
}.-mt-px{
  margin-top: -1px;
}.mb-4{
  margin-bottom: 1rem;
}.mr-0{
  margin-right: 0px;
}.mb-0{
  margin-bottom: 0px;
}.mr-4{
  margin-right: 1rem;
}.mb-8{
  margin-bottom: 2rem;
}.mt-3{
  margin-top: 0.75rem;
}.-mr-0\.5{
  margin-right: -0.125rem;
}.-mr-0{
  margin-right: -0px;
}.-mr-2{
  margin-right: -0.5rem;
}.mt-6{
  margin-top: 1.5rem;
}.mb-7{
  margin-bottom: 1.75rem;
}.mt-10{
  margin-top: 2.5rem;
}.mt-7{
  margin-top: 1.75rem;
}.mt-16{
  margin-top: 4rem;
}.mt-auto{
  margin-top: auto;
}.mb-5{
  margin-bottom: 1.25rem;
}.mb-3{
  margin-bottom: 0.75rem;
}.ml-0{
  margin-left: 0px;
}.mb-12{
  margin-bottom: 3rem;
}.mt-1{
  margin-top: 0.25rem;
}.mb-10{
  margin-bottom: 2.5rem;
}.mb-6{
  margin-bottom: 1.5rem;
}.block{
  display: block;
}.inline-block{
  display: inline-block;
}.inline{
  display: inline;
}.flex{
  display: flex;
}.inline-flex{
  display: inline-flex;
}.table{
  display: table;
}.grid{
  display: grid;
}.hidden{
  display: none;
}.h-5{
  height: 1.25rem;
}.h-8{
  height: 2rem;
}.h-16{
  height: 4rem;
}.h-screen{
  height: 100vh;
}.h-1{
  height: 0.25rem;
}.h-full{
  height: 100%;
}.h-9{
  height: 2.25rem;
}.h-4{
  height: 1rem;
}.h-6{
  height: 1.5rem;
}.h-auto{
  height: auto;
}.min-h-screen{
  min-height: 100vh;
}.w-5{
  width: 1.25rem;
}.w-8{
  width: 2rem;
}.w-auto{
  width: auto;
}.w-screen{
  width: 100vw;
}.w-16{
  width: 4rem;
}.w-full{
  width: 100%;
}.w-48{
  width: 12rem;
}.w-2\/12{
  width: 16.666667%;
}.w-10\/12{
  width: 83.333333%;
}.w-4{
  width: 1rem;
}.w-6{
  width: 1.5rem;
}.w-11\/12{
  width: 91.666667%;
}.w-1\/3{
  width: 33.333333%;
}.w-2\/3{
  width: 66.666667%;
}.w-1\/2{
  width: 50%;
}.max-w-xl{
  max-width: 36rem;
}.max-w-6xl{
  max-width: 72rem;
}.max-w-sm{
  max-width: 24rem;
}.max-w-7xl{
  max-width: 80rem;
}.flex-1{
  flex: 1 1 0%;
}.shrink-0{
  flex-shrink: 0;
}.origin-top-left{
  transform-origin: top left;
}.origin-top-right{
  transform-origin: top right;
}.origin-top{
  transform-origin: top;
}.scale-95{
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}.scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}.cursor-default{
  cursor: default;
}.cursor-pointer{
  cursor: pointer;
}.resize{
  resize: both;
}.list-inside{
  list-style-position: inside;
}.list-disc{
  list-style-type: disc;
}.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}.flex-row{
  flex-direction: row;
}.flex-col{
  flex-direction: column;
}.items-start{
  align-items: flex-start;
}.items-end{
  align-items: flex-end;
}.items-center{
  align-items: center;
}.items-stretch{
  align-items: stretch;
}.justify-start{
  justify-content: flex-start;
}.justify-end{
  justify-content: flex-end;
}.justify-center{
  justify-content: center;
}.justify-between{
  justify-content: space-between;
}.space-x-8 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}.space-y-1 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}.space-x-7 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.75rem * var(--tw-space-x-reverse));
  margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}.space-x-0 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0px * var(--tw-space-x-reverse));
  margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)));
}.space-y-24 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(6rem * var(--tw-space-y-reverse));
}.space-y-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}.space-y-6 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}.space-y-7 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}.space-y-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}.space-y-16 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}.space-x-10 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
}.overflow-auto{
  overflow: auto;
}.overflow-hidden{
  overflow: hidden;
}.rounded-md{
  border-radius: 0.375rem;
}.rounded{
  border-radius: 0.25rem;
}.rounded-lg{
  border-radius: 0.5rem;
}.rounded-sm{
  border-radius: 0.125rem;
}.rounded-l-md{
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}.rounded-r-md{
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}.border{
  border-width: 1px;
}.border-2{
  border-width: 2px;
}.border-0{
  border-width: 0px;
}.border-t{
  border-top-width: 1px;
}.border-r{
  border-right-width: 1px;
}.border-b-2{
  border-bottom-width: 2px;
}.border-l-4{
  border-left-width: 4px;
}.border-b{
  border-bottom-width: 1px;
}.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}.border-gray-400{
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}.border-transparent{
  border-color: transparent;
}.border-indigo-400{
  --tw-border-opacity: 1;
  border-color: rgb(129 140 248 / var(--tw-border-opacity));
}.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
}.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}.bg-transparent{
  background-color: transparent;
}.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}.bg-gray-900{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}.bg-zinc-800{
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}.bg-indigo-50{
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity));
}.bg-indigo-100{
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}.bg-zinc-900{
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}.bg-gray-800{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}.bg-red-600{
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}.bg-red-500{
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}.bg-zinc-700{
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}.bg-gray-200{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}.bg-cover{
  background-size: cover;
}.bg-no-repeat{
  background-repeat: no-repeat;
}.p-0{
  padding: 0px;
}.p-6{
  padding: 1.5rem;
}.p-16{
  padding: 4rem;
}.p-2{
  padding: 0.5rem;
}.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}.pb-0{
  padding-bottom: 0px;
}.pt-8{
  padding-top: 2rem;
}.pr-0{
  padding-right: 0px;
}.pl-1{
  padding-left: 0.25rem;
}.pr-4{
  padding-right: 1rem;
}.pb-1{
  padding-bottom: 0.25rem;
}.pt-1{
  padding-top: 0.25rem;
}.pt-2{
  padding-top: 0.5rem;
}.pl-3{
  padding-left: 0.75rem;
}.pb-3{
  padding-bottom: 0.75rem;
}.pt-4{
  padding-top: 1rem;
}.pt-6{
  padding-top: 1.5rem;
}.text-left{
  text-align: left;
}.text-center{
  text-align: center;
}.text-right{
  text-align: right;
}.font-sans{
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}.text-5xl{
  font-size: 3rem;
  line-height: 1;
}.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}.font-medium{
  font-weight: 500;
}.font-semibold{
  font-weight: 600;
}.font-light{
  font-weight: 300;
}.font-bold{
  font-weight: 700;
}.font-black{
  font-weight: 900;
}.uppercase{
  text-transform: uppercase;
}.leading-5{
  line-height: 1.25rem;
}.leading-7{
  line-height: 1.75rem;
}.leading-normal{
  line-height: 1.5;
}.leading-4{
  line-height: 1rem;
}.leading-tight{
  line-height: 1.25;
}.leading-relaxed{
  line-height: 1.625;
}.tracking-wider{
  letter-spacing: 0.05em;
}.tracking-wide{
  letter-spacing: 0.025em;
}.tracking-widest{
  letter-spacing: 0.1em;
}.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}.text-gray-200{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}.text-primary{
  --tw-text-opacity: 1;
  color: rgb(176 66 32 / var(--tw-text-opacity));
}.text-gray-100{
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}.text-indigo-600{
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity));
}.text-red-600{
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}.text-indigo-700{
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}.text-zinc-100{
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity));
}.text-green-600{
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}.text-opacity-75{
  --tw-text-opacity: 0.75;
}.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}.opacity-0{
  opacity: 0;
}.opacity-100{
  opacity: 1;
}.opacity-50{
  opacity: 0.5;
}.opacity-25{
  opacity: 0.25;
}.shadow-sm{
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.outline{
  outline-style: solid;
}.ring-1{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}.ring-gray-300{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(209 213 219 / var(--tw-ring-opacity));
}.ring-black{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity));
}.ring-opacity-5{
  --tw-ring-opacity: 0.05;
}.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}.duration-150{
  transition-duration: 150ms;
}.duration-200{
  transition-duration: 200ms;
}.duration-75{
  transition-duration: 75ms;
}.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}body{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}.title{
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
}.card{
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.75rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}.form-control{
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}.form-group{
  margin-bottom: 0.75rem;
}.ck-editor__editable_inline {
    min-height: 200px;
}label{
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}label[required]:after{
    content: ' *';
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
}.alert-success{
  margin-bottom: 1.25rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}.hover\:border-gray-300:hover{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}.hover\:bg-zinc-700:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}.hover\:bg-gray-50:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}.hover\:bg-zinc-800:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 42 / var(--tw-bg-opacity));
}.hover\:bg-opacity-75:hover{
  --tw-bg-opacity: 0.75;
}.hover\:text-gray-500:hover{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}.hover\:text-gray-400:hover{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}.hover\:text-gray-700:hover{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}.hover\:text-gray-800:hover{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}.hover\:text-lime-500:hover{
  --tw-text-opacity: 1;
  color: rgb(132 204 22 / var(--tw-text-opacity));
}.hover\:text-gray-900:hover{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}.hover\:underline:hover{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}.focus\:z-10:focus{
  z-index: 10;
}.focus\:border-blue-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity));
}.focus\:border-zinc-900:focus{
  --tw-border-opacity: 1;
  border-color: rgb(24 24 27 / var(--tw-border-opacity));
}.focus\:border-indigo-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(165 180 252 / var(--tw-border-opacity));
}.focus\:border-indigo-700:focus{
  --tw-border-opacity: 1;
  border-color: rgb(67 56 202 / var(--tw-border-opacity));
}.focus\:border-gray-300:focus{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}.focus\:bg-gray-100:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}.focus\:bg-indigo-100:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(224 231 255 / var(--tw-bg-opacity));
}.focus\:bg-gray-50:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}.focus\:text-gray-700:focus{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}.focus\:text-indigo-800:focus{
  --tw-text-opacity: 1;
  color: rgb(55 48 163 / var(--tw-text-opacity));
}.focus\:text-gray-800:focus{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}.focus\:text-gray-500:focus{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}.focus\:ring:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}.focus\:ring-indigo-200:focus{
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity));
}.focus\:ring-opacity-50:focus{
  --tw-ring-opacity: 0.5;
}.active\:bg-gray-100:active{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}.active\:bg-zinc-900:active{
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}.active\:text-gray-700:active{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}.active\:text-gray-500:active{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}.disabled\:bg-opacity-50:disabled{
  --tw-bg-opacity: 0.5;
}@media (prefers-color-scheme: dark){.dark\:border-gray-700{
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }.dark\:bg-gray-900{
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }.dark\:bg-gray-800{
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }.dark\:text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }.dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }.dark\:text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
}@media (min-width: 640px){.sm\:-my-px{
    margin-top: -1px;
    margin-bottom: -1px;
  }.sm\:ml-0{
    margin-left: 0px;
  }.sm\:ml-10{
    margin-left: 2.5rem;
  }.sm\:ml-6{
    margin-left: 1.5rem;
  }.sm\:block{
    display: block;
  }.sm\:flex{
    display: flex;
  }.sm\:hidden{
    display: none;
  }.sm\:h-20{
    height: 5rem;
  }.sm\:max-w-md{
    max-width: 28rem;
  }.sm\:flex-1{
    flex: 1 1 0%;
  }.sm\:items-center{
    align-items: center;
  }.sm\:justify-start{
    justify-content: flex-start;
  }.sm\:justify-center{
    justify-content: center;
  }.sm\:justify-between{
    justify-content: space-between;
  }.sm\:rounded-lg{
    border-radius: 0.5rem;
  }.sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }.sm\:pt-0{
    padding-top: 0px;
  }.sm\:text-left{
    text-align: left;
  }.sm\:text-right{
    text-align: right;
  }
}@media (min-width: 768px){.md\:my-6{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }.md\:mb-0{
    margin-bottom: 0px;
  }.md\:mt-20{
    margin-top: 5rem;
  }.md\:mt-7{
    margin-top: 1.75rem;
  }.md\:ml-auto{
    margin-left: auto;
  }.md\:mb-16{
    margin-bottom: 4rem;
  }.md\:mt-0{
    margin-top: 0px;
  }.md\:mb-10{
    margin-bottom: 2.5rem;
  }.md\:inline-block{
    display: inline-block;
  }.md\:flex{
    display: flex;
  }.md\:min-h-screen{
    min-height: 100vh;
  }.md\:w-1\/2{
    width: 50%;
  }.md\:w-9\/12{
    width: 75%;
  }.md\:w-2\/3{
    width: 66.666667%;
  }.md\:w-1\/3{
    width: 33.333333%;
  }.md\:w-10\/12{
    width: 83.333333%;
  }.md\:w-auto{
    width: auto;
  }.md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }.md\:flex-row{
    flex-direction: row;
  }.md\:items-center{
    align-items: center;
  }.md\:justify-center{
    justify-content: center;
  }.md\:space-x-16 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(4rem * var(--tw-space-x-reverse));
    margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
  }.md\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }.md\:space-x-7 > :not([hidden]) ~ :not([hidden]){
    --tw-space-x-reverse: 0;
    margin-right: calc(1.75rem * var(--tw-space-x-reverse));
    margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
  }.md\:space-y-24 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(6rem * var(--tw-space-y-reverse));
  }.md\:border-t-0{
    border-top-width: 0px;
  }.md\:border-l{
    border-left-width: 1px;
  }.md\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }.md\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }.md\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }.md\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }.md\:py-5{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }.md\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }.md\:pb-0{
    padding-bottom: 0px;
  }.md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }.md\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }.md\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }.md\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }.md\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }.md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}@media (min-width: 1024px){.lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
