@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

body{
    @apply text-gray-200;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}

.title{
    @apply text-2xl mb-7;
}

.card{
    @apply rounded bg-white p-7 shadow-md;
}

.form-control{
    @apply py-2 px-3 border rounded w-full;
}

.form-group{
    @apply mb-3;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

label{
    @apply text-sm font-bold text-gray-700 block mb-2;
}
label[required]:after{
    content: ' *';
    @apply text-red-500;
}
.alert-success{
    @apply py-3 px-7 bg-green-500 text-white font-bold text-sm mb-5 rounded;
}