<template>
    <div class="flex flex-col md:flex-row items-end space-x-0 md:space-x-16">
        <div class="w-full md:w-2/3 mb-7 md:mb-0">
            <Link :href="route('article', article.slug)">
                <img :src="article.cover" class="w-full h-auto shadow" alt="">
            </Link>
        </div>
        <div class="w-full md:w-1/3">
            <p v-text="article.date" class="font-bold mb-7"></p>
            <Link :href="route('article', article.slug)">
                <h3 v-text="article.title" class="mb-7 text-2xl"></h3>
            </Link>
            <p v-text="article.description"></p>
        </div>
    </div>
</template>

<script>

    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        name: 'WebsiteArticle',
        props: ['article'],
        components: {Link},
        data(){
            return {

            }
        }
    }
</script>