<template>
    <div class="py-5 md:py-16 flex flex-col space-y-24">
        <div v-if="articles.length">
            <Article v-for="article in articles" 
            v-bind:key="article.id" 
            :article="article" />
        </div>
        <div v-else class="opacity-50">
            No se han agregado artículos aún.
        </div>
    </div>
</template>

<script>

    import Article from '@/Components/Website/Article';

    export default {
        name: 'WebsiteArticles',
        components: {Article},
        props: {
            articles: {
                type: Array,
                default(){
                    return [
                        {
                            id: 1,
                            cover: 'https://picsum.photos/seed/picsum/820/550',
                            date: '16/05/22',
                            title: 'San Quntín Industrial',
                            description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                            slug: 'san-quintin-industrial'
                        },
                        {
                            id: 2,
                            cover: 'https://picsum.photos/seed/picsum/820/550',
                            date: '16/05/22',
                            title: 'San Quntín Industrial',
                            description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                            slug: 'san-quintin-industrial'
                        },
                        {
                            id: 3,
                            cover: 'https://picsum.photos/seed/picsum/820/550',
                            date: '16/05/22',
                            title: 'San Quntín Industrial',
                            description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                            slug: 'san-quintin-industrial'
                        }
                    ];
                }
            }
        },
        data(){
            return {

            }
        }
    }
</script>