<template>
    <div class="py-5 md:py-10">
        
        <div class="w-full md:w-10/12">

            <h1 class="text-2xl md:text-4xl leading-tight">
                <span class="leading-relaxed">
                    ¿Necesitas una página web? no dudes en escribirme y en la brevedad posible me comunico contigo para que platiquemos.
                </span>
            </h1>

            <form action="" class="mt-16 md:mt-20 flex flex-col space-y-10 text-gray-900" @submit.prevent="submitForm">

                <div v-if="this.$page.props.flash.status" v-text="this.$page.props.flash.status" class="py-3 px-5 rounded-sm text-zinc-100 bg-zinc-700 font-bold mb-5"></div>

                <div class="flex items-center flex-col space-y-10 md:space-y-0 md:flex-row space-x-0 md:space-x-7">
                    <div class="w-full md:w-1/2">
                        <label class="block text-gray-200" for="">Nombre completo:</label>
                        <input v-model="form.full_name" type="text" class="py-3 px-4 bg-gray-200 text-xl border-0 w-full" placeholder="Tu nombre completo aquí...">
                        <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.full_name }}</div>
                    </div>
    
                    <div class="w-full md:w-1/2">
                        <label class="block text-gray-200" for="">Correo electrónico:</label>
                        <input v-model="form.email" type="text" class="py-3 px-4 bg-gray-200 text-xl border-0 w-full" placeholder="Tu nombre completo aquí...">
                        <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.email }}</div>
                    </div>
                </div>

                <div class="flex items-center flex-col space-y-10 md:space-y-0 md:flex-row space-x-0 md:space-x-7">
                    <div class="w-full md:w-1/2">
                        <label class="block text-gray-200" for="">¿Que tipo de servicio estas buscando?:</label>
                        <select name="" class="py-3 px-4 bg-gray-200 text-xl border-0 w-full" v-model="form.type_id" id="">
                            <option value="1">Una pregunta en general</option>
                            <option value="2">Necesito una página web</option>
                            <option value="3">Necesito ayuda con mi sitio actual</option>
                            <option value="4">Necesito un rediseño web</option>
                            <option value="5">Diseño Gráfico / Imágen corporativa</option>
                            <option value="6">Fotografía</option>
                            <option value="7">Solo un saludo</option>
                        </select>
                        <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.type }}</div>
                    </div>
    
                    <div class="w-full md:w-1/2">
                        <label class="block text-gray-200" for="">¿En cuanto tiempo deberías tener tu proyecto?:</label>
                        <select name="" class="py-3 px-4 bg-gray-200 text-xl border-0 w-full" v-model="form.time_id" id="">
                            <option value="1">Con mucha urgencia</option>
                            <option value="2">No llevo tanta prisa</option>
                        </select>
                        <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.time }}</div>
                    </div>
                </div>
                

                <div>
                    <label class="block mb-3 text-gray-200" for="">Cuéntame un poco sobre tu proyecto:</label>
                    <textarea v-model="form.description" class="py-3 px-4 bg-gray-200 text-xl border-0 w-full" rows="3" placeholder="Escribe aquí..."></textarea>
                    <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.description }}</div>
                </div>

                <div class="text-gray-200">
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" v-model="form.terms">
                        <span class="text-zinc-100">He leído y acepto la <Link :href="route('terms')" class="underline">política de privacidad.</Link>.</span>
                    </label>
                    <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.terms }}</div>
                </div>

                <div class="text-gray-200">
                    <label class="flex items-center space-x-2 inline-block">
                        <input type="checkbox" v-model="form.subscription">
                        <span class="text-zinc-100">Quiero estar enterado de noticias y promociones.</span>
                    </label>
                    <div class="text-red-500 block mt-2 text-sm font-bold" v-if="errors">{{ errors.subscription }}</div>
                </div>

                <div>
                    <button type="submit" class="bg-zinc-700 hover:bg-zinc-800 py-3 px-10 font-bold text-zinc-100 disabled:bg-opacity-50" :disabled="sendingForm">
                        <span v-if="sendingForm">Enviando mensaje...</span>
                        <span v-else>Enviar</span>
                    </button>
                </div>
    
            </form>
        </div>
    </div>
</template>

<script>

    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        name: 'WebsiteContactForm',
        props: ['errors'],
        components: {Link},
        data(){
            return {
                form: this.$inertia.form({
                    full_name: '',
                    email: '',
                    type_id: 2,
                    time_id: 1,
                    description: '',
                    terms: false,
                    subscription: false
                }),
                sendingForm: false
            }
        },
        methods: {
            submitForm(){
                const t = this;
                t.sendingForm = true;
                t.$inertia.post(route('contact-form'), t.form, {
                    preserveScroll: true,
                    errorBag: 'contactForm',
                    onError: () => {
                        t.sendingForm = false;
                    },
                    onSuccess: () => {
                        t.form.reset();
                        window.scrollTo({top: 0, behavior: 'smooth'});
                        t.sendingForm = false;
                    }
                });
            }
        }
    }
</script>