<template>
    <footer class="py-10 md:py-32">
        <div class="w-11/12 mx-auto">
            <a class="text-xl md:text-2xl" href="mailto:info@jonathanvelazquez.me">info@ejonathanv.com</a>
            <p class="text-xs md:text-sm text-opacity-75 mt-4 md:mt-7">©{{date}}, {{app_name}}, Derechos Reservados.</p>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'Footer',
        computed: {
            app_name(){
                return this.$page.props.app_name;
            }
        },
        data(){
            return {
                date: new Date().getFullYear()
            }
        }
    }
</script>

