<template>
    <header class="py-7 md:py-12">
        <div class="w-11/12 mx-auto flex flex-col space-y-6 md:flex-row md:space-y-0 items-start md:items-center">
            <Logo />
            <Navigation class="ml-0 md:ml-auto" />
        </div>
    </header>
</template>

<script>

    import Logo from '@/Components/Website/Logo';
    import Navigation from '@/Components/Website/Navigation';

    export default {
        name: 'WebsiteHeader',
        components: {Logo, Navigation},
        data(){
            return {

            }
        }
    }
</script>