<template>
    <div class="py-5 md:py-10 flex flex-col space-y-7">
        <h1 class="text-2xl md:text-4xl leading-tight">
            <span class="leading-relaxed">
                ¡Hola! mi nombre es Jonathan, uno de los mejores desarrolladores de páginas web en Tijuana Baja California, tengo 34 años y desde hace más de 10 años he ayudado a muchos a tener presencia en internet.
            </span>
        </h1>

        <h1 class="text-2xl md:text-4xl leading-tight">
            <span class="leading-relaxed">
                Actualmente estoy diseñando y desarrollando páginas web bastante accesibles para emprendedores, teniendo en cuenta que al querer iniciar un negocio, el presupuesto que tenemos, en ocaciones puede ser muy limitado.
            </span>
        </h1>

        <h1 class="text-2xl md:text-4xl leading-tight">
            <span class="leading-relaxed">
                Cada página web que diseño y desarrollo es completamente personalizada, no utilizo plantillas prediseñadas porque creo que cada cliente debe tener su propia escencia.
            </span>
        </h1>

        <h1 class="text-2xl md:text-4xl leading-tight">
            <span class="leading-relaxed">
                Seguramente tienes en mente lo que quieres reflejar con tu marca, por lo tanto, trabajar en tu página web sera un reto emocionante en el que te aseguro que lograremos acercarnos bastante a tu idea y dentro de poco tiempo tendrás presencia en internet de forma profesional y atractiva.
            </span>
        </h1>
    </div>
</template>

<script>
    export default {
        name: 'WebsiteHistory',
        data(){
            return {

            }
        }
    }
</script>