<template>
    <div class="w-11/12 mx-auto">
        <a href="https://instagram.com/ejonathanv" class="text-lg font-bold">@ejonathanv</a>
        <div id="curator-feed-default-feed-layout" class="mt-7">
            <a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'InstagramFeed',
        mounted(){
            (function(){
            var i,e,d=document,s="script";i=d.createElement("script");i.async=1;i.charset="UTF-8";
            i.src="https://cdn.curator.io/published/7ab1bfd7-606f-4cb2-bf1f-710c26e785b5.js";
            e=d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
            })();
        },
        data(){
            return {

            }
        }
    }
</script>