<template>
    <Link :href="route('home')">
        <h1 class="text-3xl font-bold">Jonathan Velazquez</h1>
    </Link>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    export default {
        name: 'WebsiteLogo',
        components: {Link},
        data(){
            return {

            }
        }
    }
</script>