<template>
    <!-- Messenger Plugin de chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
</template>

<script>
    export default {
        name: 'MessengerChat',
        data(){
            return {

            }
        },
        mounted(){
            this.chatBox();
            this.sdkCode();
        },
        methods: {
            chatBox(){
                var chatbox = document.getElementById('fb-customer-chat');
                chatbox.setAttribute("page_id", "109606487472467");
                chatbox.setAttribute("attribution", "biz_inbox");
            },
            sdkCode(){
                window.fbAsyncInit = function() {
                    FB.init({
                        xfbml            : true,
                        version          : 'v14.0'
                    });
                };

                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            }
        }
    }
</script>