<template>
    <nav class="flex items-start w-full md:w-auto justify-between md:justify-center md:items-center space-x-0 md:space-x-7">
        <Link :href="route('about')" class="hover:underline">Acerca de mí</Link>
        <Link :href="route('contact')" class="hover:underline">Contacto</Link>
        <Link :href="route('blog')" class="hover:underline">Blog</Link>
        <a href="http://instagram.com/ejonathanv" target="_blank" class="hover:underline"><i class="fab fa-instagram"></i></a>
        <a href="http://facebook.com/ejonathanv" target="_blank" class="hover:underline"><i class="fab fa-facebook"></i></a>
    </nav>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    export default {
        name: 'WebsiteNavigation',
        components: {Link},
        data(){
            return {

            }
        }
    }
</script>