<template>
    <div class="py-5 md:py-10">
        <h1 class="text-2xl md:text-4xl mb-7 md:mb-16">
            <span class="leading-relaxed">
                ¿Necesitas una página web? Hola mi nombre es Jonathan, me dedico a desarrollar páginas web profesionales para emprendedores que quieren acelerar su crecimiento en internet. ¡Bienvenido a mi oficina virtual! aquí encontrarás algunos ejemplos de mi trabajo asi como información de los paquetes de páginas web que se adaptan a tus necesidades y a tu presupuesto.
            </span>
        </h1>

        <div class="mb-12 mt-7 md:mt-0">
            <Link :href="route('contact')" class="bg-zinc-700 hover:bg-zinc-800 text-lg py-4 md:py-5 px-4 block md:inline-block text-center md:px-10 text-sm md:text-base font-bold text-zinc-100 disabled:bg-opacity-50">
                ¡Comencemos tu página web!
            </Link>
        </div>
    
        <p class="text-sm md:text-sm">(Haz click en el botón de arriba para ver las especificaciones de los paquetes para tu página web.)</p>
    </div>
</template>

<script>
    import { Link } from '@inertiajs/inertia-vue3'
    export default {
        name: 'WebsiteOverview',
        components: {Link},
        data(){
            return {

            }
        }
    }
</script>