<template>
    <div class="py-7 md:py-16 flex flex-col space-y-16 md:space-y-24">
        <Project v-for="project in projects" 
            v-bind:key="project.id" 
            :project="project" />
    </div>
</template>

<script>

    import Project from '@/Components/Website/Project';

    export default {
        name: 'WebsiteProjects',
        props: {
            projects: {
                type: Array,
                default(){
                    return [
                        {
                            id: 1,
                            cover: 'https://picsum.photos/seed/picsum/1100/600',
                            title: 'San Quintín Industrial',
                            description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                            link: 'http://localhost:8000'
                        },

                        {
                            id: 2,
                            cover: 'https://picsum.photos/seed/picsum/1100/600',
                            title: 'San Quintín Industrial',
                            description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                            link: 'http://localhost:8000'
                        },

                        {
                            id: 3,
                            cover: 'https://picsum.photos/seed/picsum/1100/600',
                            title: 'San Quintín Industrial',
                            description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                            link: 'http://localhost:8000'
                        }
                    ]
                }
            }
        },
        components: {Project},
        data(){
            return {

            }
        }
    }
</script>