<template>

    <div>
        <img :src="project.cover" class="w-full h-auto shadow" alt="">
        <div class="flex flex-col md:flex-row space-y-5 md:space-y-0 items-start mt-7">
             <div class="w-full md:w-1/2 flex flex-col space-y-4 md:space-y-0">
                <h3 class="text-2xl" v-text="project.title"></h3>
                <a v-if="project.link" :href="project.link" target="_blank" class="underline">Ver proyecto</a>
            </div>
            <div class="w-full md:w-1/2 ml-auto">
                <p v-text="project.description"></p>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'WebsiteProject',
        props: ['project'],
        data(){
            return {

            }
        }
    }
</script>