<template>
    <Website-Layout>
        <History />
    </Website-Layout>
</template>

<script>

    import WebsiteLayout from '@/Layouts/Website';
    import History from '@/Components/Website/History';

    export default {
       name: 'WebsiteAbout',
       components: {WebsiteLayout, History},
       data(){
           return {

           }
       }
   } 
</script>