<template>

    <Website-Layout>
        <div class="py-5 md:py-10 w-full md:w-10/12">
            <p v-text="article.date" class="font-bold mb-7"></p>
            <h2 v-text="article.title" class="text-2xl md:text-4xl mb-7 md:mb-10 leading-tight"></h2>
            <p v-text="article.description" class="text-lg md:text-xl mb-7 md:mb-10 leading-tight"></p>
            <img :src="article.cover" class="w-full h-auto shadow mb-10" alt="">
            <div v-html="article.body" class="text-base md:text-xl"></div>
        </div>
    </Website-Layout>

</template>

<script>

    import WebsiteLayout from '@/Layouts/Website';

    export default {
        name: 'WebsiteBlogArticle',
        components: {WebsiteLayout},
        props: {
            article: {
                default: {
                    id: 1,
                    cover: 'https://picsum.photos/seed/picsum/820/550',
                    date: '16/05/22',
                    title: 'San Quntín Industrial',
                    description: 'Sitio web con diseño limpio y ordenado adaptable a cualquier dispositivo movil que ofrece servicios de mantenimiento industrial.',
                    body: `
                        <p class="mb-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum et maxime dignissimos nesciunt, rerum molestiae a voluptas blanditiis ullam obcaecati, necessitatibus placeat vitae culpa explicabo consequatur. Ad enim fugiat incidunt.</p>
                        <p class="mb-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum et maxime dignissimos nesciunt, rerum molestiae a voluptas blanditiis ullam obcaecati, necessitatibus placeat vitae culpa explicabo consequatur. Ad enim fugiat incidunt.</p>
                        <p class="mb-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum et maxime dignissimos nesciunt, rerum molestiae a voluptas blanditiis ullam obcaecati, necessitatibus placeat vitae culpa explicabo consequatur. Ad enim fugiat incidunt.</p>
                    `
                }
            }
        },
        data(){
            return {

            }
        }
    }
</script>