<template>

    <Website-Layout>
        <Articles :articles="articles" />
    </Website-Layout>

</template>

<script>

    import WebsiteLayout from '@/Layouts/Website';
    import Articles from '@/Components/Website/Articles';

    export default {
        name: 'WebsiteBlog',
        components: {WebsiteLayout, Articles},
        props: ['articles'],
        data(){
            return {

            }
        }
    }
</script>