<template>

    <Website-Layout>
        <Contact-Form :errors="$page.props.errors.contactForm" />
    </Website-Layout>

</template>

<script>

    import WebsiteLayout from '@/Layouts/Website';
    import ContactForm from '@/Components/Website/ContactForm';

    export default {
        name: 'WebsiteContact',
        components: {WebsiteLayout, ContactForm},
        data(){
            return {

            }
        }
    }
</script>