<template>
    <Website-Layout>
        <Overview />
        <Projects :projects="projects" />
    </Website-Layout>
</template>

<script>

    import WebsiteLayout from '@/Layouts/Website';
    import Overview from '@/Components/Website/Overview';
    import Projects from '@/Components/Website/Projects';

    export default {
       name: 'WebsiteIndex',
       props: ['projects'],
       components: {WebsiteLayout, Overview, Projects},
       data(){
           return {

           }
       }
   } 
</script>