<template>
    <Website-Layout>
        <div class="py-5 md:py-10">
            <div class="flex mb-7">
                <div class="w-1/2">
                    <h1 class="title">¿Como comenzamos el desarrollo de tu página web?</h1>
                    <p class="mb-10">Al iniciar con el desarrollo de tu página web, lo primero que haremos será tener una conversación por video llamada, en donde podremos definir lo que esperas lograr con tu nueva página web y asi mismo poder ayudarte a definir aquellas funcionalidades de las cuales tengas dudas.</p>

                    <h1 class="title">¿Que incluye tu página web?</h1>
                    <p class="mb-10">
                        Se lo complejo que es tener tu página web incluso cuando acudes a plataformas que magicamente te dan un sitio web gratis, y ¿sabes porque es complejo? porque una página web requiere mucho mas que solo agregar texto e imagenes. Al trabajar tu página web conmigo puedes estar seguro que tendras lo siguiente:
                    </p>

                    <div class="flex items-start space-x-10 mb-10">
                        <div class="flex flex-col space-y-5 items-start w-1/2">
                            <p class="font-bold">Integración de contenido</p>
                            <p class="font-bold">Diseño personalizado</p>
                            <p class="font-bold">Adaptación de fotografías</p>
                            <p class="font-bold">Formularios de contacto</p>
                        </div>

                        <div class="flex flex-col space-y-5 items-start w-1/2">
                            <p class="font-bold">Plugin de chat con Facebook Messenger</p>
                            <p class="font-bold">Google Analytics</p>
                            <p class="font-bold">Nombre de dominio (.com) / por 1 año</p>
                            <p class="font-bold">Almacenamiento por 3 meses <br> <span class="font-regular text-sm opacity-50">(Después 10 dolares por més)</span></p>
                        </div>
                    </div>


                    <h1 class="title">¿Que NO incluye tu página web?</h1>
                    <p class="mb-10">
                        Por supuesto que una página web necesita detalles adicionales para lograr ese profesionalismo que queremos mostrar, sin embargo, estos detalles no corresponden precisamente al desarrollo de tu página web, pero, si asi lo deseas, puedo darte estos servicios con un costo adicional. Lo que necesitamos es lo siguiente:
                    </p>

                    <div class="flex items-start space-x-10 mb-10">
                        <div class="flex flex-col space-y-5 items-start w-1/2">
                            <p class="font-bold">Redacción de textos publicitarios <span class="font-regular text-sm opacity-50">(Copywrite)</span></p>
                            <p class="font-bold">Fotografías originales</p>
                            <p class="font-bold"></p>
                        </div>

                        <div class="flex flex-col space-y-5 items-start w-1/2">
                            <p class="font-bold">Formularios de contacto</p>
                            <p class="font-bold">Plugin de chat con Facebook Messenger</p>
                            <p class="font-bold">Google Analytics</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Website-Layout>
</template>

<script>

    import WebsiteLayout from '@/Layouts/Website';

    export default {
        name: 'WebsitePackages',
        components: {WebsiteLayout},
        data(){
            return {

            }
        }
   } 
</script>