<template>
    <Admin-Layout title="Subscriptores">
        <div class="card mt-6">
            <div v-if="subscriptors.length" v-for="subscriptor in subscriptors" 
                class="py-4 border-b border-gray-300 flex items-start space-x-7">
                <div>
                    <h1 v-text="subscriptor.name" class="text-xl mb-2"></h1>
                    <p v-text="subscriptor.email" class="text-gray-600 text-sm mb-4"></p>
                    <Link class="text-sm font-bold text-gray-700 hover:underline" :href="route('subscriptors.edit', subscriptor.id)">Editar</Link>
                </div>
            </div>
            <div v-else class="text-gray-500">
                No se ha suscrito nadie aún.
            </div>
        </div>
    </Admin-Layout>
</template>

<script>
    import AdminLayout from '@/Layouts/Admin';
    import { Link } from '@inertiajs/inertia-vue3';

    export default {
        name: 'SubscriptorsList',
        props: ['subscriptors'],
        components: {AdminLayout, Link},
        data(){
            return {

            }
        }
    }
</script>