<template>
    <Admin-Layout title="Escritorio">
        <Indicators :indicators="indicators" />
        <Recent-Messages :messages="messages" class="mt-7" />
    </Admin-Layout>
</template>

<script>

    import AdminLayout from '@/Layouts/Admin';
    import Indicators from '@/Components/Admin/Indicators';
    import RecentMessages from '@/Components/Admin/RecentMessages';

    export default {
        name: 'AdminDashboard',
        props: ['indicators', 'messages'],
        components: {AdminLayout, Indicators, RecentMessages},
        data(){
            return {

            }
        }
    }
</script>