<template>
    <div class="flex items-stretch w-screen h-screen overflow-hidden text-gray-900 bg-indigo-100">
        <div class="w-2/12 h-full">
            <Sidebar />
        </div>
        <div class="w-10/12 h-full overflow-auto">
            <Header :title="title" />
            <div class="p-16">
                <slot />
            </div>
        </div>
    </div>
</template>

<script>
    import Sidebar from '@/Components/Admin/Sidebar';
    import Header from '@/Components/Admin/Header';
    export default {
        name: 'AdminLayout',
        props: ['title'],
        components: {Sidebar, Header},
        data(){
            return {

            }
        }
    }
</script>