<template>
    <div class="bg-zinc-900 min-h-screen min-w-screen">
        <Header />
        <div class="w-11/12 mx-auto">
            <div class="w-full md:w-9/12">
                <slot />
            </div>
        </div>
        <Instagram-Feed />
        <Footer />
    </div>
</template>

<script>

    import Header from '@/Components/Website/Header';
    import Footer from '@/Components/Website/Footer';
    import InstagramFeed from '@/Components/Website/InstagramFeed';

    export default {
        name: 'WebsiteLayout',
        components: {Header, Footer, InstagramFeed},
        data(){
            return {

            }
        }
    }
</script>